---
layout: default
---
<div class="black-space">
    <h1>{{ page.title }}</h1>
  </div>
  <div class="white-space">
      <ul class="works-list">
        {% case page.title %}
            {% when 'Compositions' %}
                {% assign list = site.composition | sort: 'date_release' | reverse %}
            {% when 'Arrangements' %}
                {% assign list = site.arrangement | sort: 'date_release' | reverse %}
        {% endcase %}
        {% assign date_format = "%b %-d, %Y" %}
        {% for l in list %}
        <li>
            <span class="work-meta">{{ l.date_release | date: date_format }}</span>
            <h3>
                <a class="work-link" href={{"" | append: l.url | relative_url}}>
                    {{ l.title | escape }}
                </a>
            </h3>
            <p>
                {{ l.description | truncatewords: 50 }}
            </p>
        </li>
        <div class="button">
            <a href="{{ l.url | relative_url }}">Learn More...</a>
        </div>
        <br/>
        {% endfor %}
      </ul>
  </div>